# CASE STUDY- 4

In [1]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


import scipy.stats as stat

In [2]:
data = pd.read_csv('Sales_add.csv')

In [3]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [5]:
data.shape

(22, 5)

In [6]:
data.corr()

,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
Sales_before_digital_add(in $),1.000000,-0.178668
Sales_After_digital_add(in $),-0.178668,1.000000

 Correlation between sales before digital add & sales after digital add is very low.

## Q1.The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

Null hypothesis H(o) :- There is no increase in sales after stepping into digital marketing.

Alternative hypothesis H(a) :- There is an increase in sales after stepping into digital marketing.

In [7]:
#2-sample paired t-test

ttest,pvalue=stat.ttest_rel(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'],alternative="less")
print(pvalue)


if pvalue<0.05:
    print("Reject null hypothesis, hence theres an increase in sales after stepping into digital marketing.")
else:
    print("Accept null hypothesis,hence theres no increase in sales after stepping into digital marketing.")

3.168333502287889e-11
Reject null hypothesis, hence theres an increase in sales after stepping into digital marketing.

## Q2.The company needs to check whether there is any dependency between the features “Region” and “Manager”

Null hypothesis H(o) :- Region and Manager are independent.

Alternative hypothesis H(a) :- Region and Manager are dependent.

Checking chi-squared independency test between region and manager

In [8]:
data['Manager'].unique()

array(['Manager - A', 'Manager - C', 'Manager - B'], dtype=object)

In [9]:
data['Region'].unique()

array(['Region - A', 'Region - B', 'Region - C'], dtype=object)

In [10]:
#Making a dictionary


Manager_numb={'Manager - A':1, 'Manager - B':2, 'Manager - C':3}
region_numb={'Region - A':1, 'Region - B':2, 'Region - C':3}

In [11]:
mang_numb=[Manager_numb[values] for values in data.Manager]
mang_numb

[1, 3, 1, 2, 2, 2, 3, 1, 3, 2, 3, 1, 1, 1, 1, 2, 3, 2, 1, 2, 1, 3]

In [12]:
reg_numb=[region_numb[value] for value in data.Region]
reg_numb

[1, 1, 2, 2, 3, 1, 3, 1, 2, 3, 2, 1, 2, 1, 3, 1, 1, 3, 2, 1, 2, 1]

In [13]:
data_1 = pd.DataFrame(list(zip(mang_numb,reg_numb)),columns=['mang_numb','reg_numb'])
data_1.head()

   mang_numb  reg_numb
0          1         1
1          3         1
2          1         2
3          2         2
4          2         3

In [14]:
from scipy.stats import chi2_contingency

In [15]:
stat,p,dof,expected=chi2_contingency(data_1)
print('stat=%.3f, p=%.3f' % (stat,p))


if p<0.05: 
    print(' “Region” and “Manager" are dependent')
else:
    print(' “Region” and “Manager" are independent')

stat=7.288, p=0.998
 “Region” and “Manager" are independent

Since the p-value is greater than 0.05, we have to accept the Null hypothesis H(o) .
Hence features “Region” and “Manager" are independent.